.macbook-air {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.macbook-air .div {
    background-color: #ffffff;
    width: 1520px;
    height: 3363px;
    position: relative;
}

.macbook-air .overlap {
    position: absolute;
    width: 1520px;
    height: 446px;
    top: 0;
    left: 0;
    background-color: #ffcaca;
}

.macbook-air .text-wrapper {
    position: absolute;
    top: 222px;
    left: 436px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #0b1e5b;
    font-size: 100px;
    letter-spacing: -4px;
    line-height: 140px;
    white-space: nowrap;
}

.macbook-air .frame {
    display: inline-flex;
    justify-content: center;
    top: 127px;
    left: 499px;
    align-items: center;
    position: absolute;
}

.macbook-air .star-stroke {
    position: relative;
    width: 53.08px;
    height: 53.08px;
}

.macbook-air .text-wrapper-2 {
    position: relative;
    width: 445px;
    height: 93px;
    margin-left: -17.56px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 57.3px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .p {
    position: absolute;
    top: 602px;
    left: 205px;
    font-family: "Satoshi-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 66px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .overlap-group {
    position: absolute;
    width: 1343px;
    height: 564px;
    top: 793px;
    left: 88px;
    background-color: #f3f6ef;
}

.macbook-air .mask-group {
    position: absolute;
    width: 424px;
    height: 414px;
    top: 150px;
    left: 919px;
}

.macbook-air .quirky-two-curved {
    width: 333px;
    height: 176px;
    top: 95px;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.macbook-air .welcome-to-our {
    position: absolute;
    width: 1265px;
    top: 55px;
    left: 39px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: var(--blue);
    font-size: 29px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .overlap-group-2 {
    position: absolute;
    width: 1349px;
    height: 531px;
    top: 1432px;
    left: 88px;
}

.macbook-air .group {
    position: absolute;
    width: 1343px;
    height: 531px;
    top: 0;
    left: 0;
}

.macbook-air .rectangle {
    left: 0;
    background-color: #f3f6ef;
    position: absolute;
    width: 632px;
    height: 531px;
    top: 0;
}

.macbook-air .img {
    left: 711px;
    position: absolute;
    width: 632px;
    height: 531px;
    top: 0;
}

.macbook-air .quirky-two-curved-2 {
    position: absolute;
    width: 180px;
    height: 120px;
    top: 91px;
    left: 0;
    object-fit: cover;
}

.macbook-air .text-wrapper-3 {
    position: absolute;
    top: 28px;
    left: 78px;
    font-family: "Satoshi-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 60px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .quirky-two-curved-3 {
    width: 212px;
    height: 178px;
    top: 353px;
    left: 1137px;
    position: absolute;
    object-fit: cover;
}

.macbook-air .text-wrapper-4 {
    position: absolute;
    top: 28px;
    left: 775px;
    font-family: "Satoshi-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 60px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .mask-group-2 {
    position: absolute;
    width: 229px;
    height: 108px;
    top: 415px;
    left: 403px;
}

.macbook-air .div-wrapper {
    display: flex;
    width: 131px;
    height: 65px;
    align-items: center;
    gap: 3.05px;
    padding: 24.42px;
    position: absolute;
    top: 185px;
    left: 148px;
    background-color: #f6d1cc;
    border-radius: 127.17px;
    overflow: hidden;
}

.macbook-air .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -0.99px;
    margin-right: -1.1px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16.3px;
    letter-spacing: 0;
    line-height: 16.3px;
    white-space: nowrap;
}

.macbook-air .submit-wrapper {
    display: flex;
    width: 131px;
    height: 65px;
    gap: 3.05px;
    padding: 24.42px;
    top: 185px;
    left: 387px;
    background-color: #f6d1cc;
    border-radius: 127.17px;
    overflow: hidden;
    align-items: center;
    position: absolute;
}

.macbook-air .submit {
    position: relative;
    width: fit-content;
    margin-top: -0.99px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16.3px;
    letter-spacing: 0;
    line-height: 16.3px;
    white-space: nowrap;
}
